{% trans_default_domain "backend" %}
<section class="panel">
    <header class="panel-heading">
        <div class="panel-actions">
            {#<a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>#}
            {#<a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss></a>#}
        </div>

        <h2 class="panel-title">{% trans %}Alerts Information{% endtrans %}</h2>
    </header>
    <div class="panel-body">
        <table class="table table-bordered table-striped mb-none" id="datatable-default">
            <thead>
            <tr>
                <th>{% trans %}alert_generation_info_alert_generation_type{% endtrans %}</th>
                <th>{% trans %}alert_generation_info_alert_generation_message{% endtrans %}</th>
                <th>{% trans %}action_list{% endtrans %}</th>
            </tr>
            </thead>
            <tbody>
            {% for record in list %}
                <tr>
                    <td>{{ record.type }}</td>
                    <td>{{ record.message}}</td>
                    <td>
                        <a href="{{ url('app_common_user_package_edit',{id: record.id}) }}"class="btn btn-default btn-sm">
                            <i class="fa fa-edit"> </i> {% trans %} edit{% endtrans %}</a>
                        <a href="{{ url('app_common_user_package_delete',{id: record.id}) }}"class="btn btn-default btn-sm">
                            <i class="fa fa-close"> </i> {% trans %} delete{% endtrans %}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
</section>