{# app/Resources/views/Emails/registration.html.twig #}
<h3> You have successfully registered!</h3>

Hi {{ name }} ,

<p>You have successfully registered in Smart Garbage Tracking Service.</p>


<p>
    Thank You
</p>
<p> Team SGT</p>